@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nafn8t');
  src:  url('fonts/icomoon.eot?nafn8t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nafn8t') format('truetype'),
    url('fonts/icomoon.woff?nafn8t') format('woff'),
    url('fonts/icomoon.svg?nafn8t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-addresslist:before {
  content: "\e903";
}
.icon-addto:before {
  content: "\e904";
}
.icon-bianji:before {
  content: "\e905";
}
.icon-camera1:before {
  content: "\e906";
}
.icon-cart:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-delete:before {
  content: "\e909";
}
.icon-down:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-increase:before {
  content: "\e90c";
}
.icon-like:before {
  content: "\e90d";
}
.icon-loop:before {
  content: "\e90e";
}
.icon-mark:before {
  content: "\e910";
}
.icon-menu:before {
  content: "\e911";
}
.icon-nickname:before {
  content: "\e912";
}
.icon-search1:before {
  content: "\e913";
}
.icon-setting:before {
  content: "\e914";
}
.icon-yixiangkan:before {
  content: "\e915";
}
.icon-zengjia:before {
  content: "\e916";
}
.icon-address:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
